<h1 *ngIf="config && config.title"><span>{{config.title}}</span></h1>
<form *ngIf="form" (ngSubmit)="saveHandler()" [formGroup]="form">
    <message #formMessageList></message>
    
    <shared-one-column-template *ngIf="config.template===0" 
        [form]="form" 
        [config]="config" 
        [item]="item"
        (buttonClicked)="buttonClicked($event)">
    </shared-one-column-template>
    
    <shared-two-columns-template *ngIf="config.template===1" 
        [form]="form" 
        [config]="config" 
        [item]="item"
        (buttonClicked)="buttonClicked($event)">
    </shared-two-columns-template>
</form>
