@import "utils/variables";

.zoom-btn {
    position: fixed;
    right: 1%;
    top: 45%;
    z-index:1000;
}

a {
    color: white;
    text-decoration: none
}

.material-icons.md-36 {
    font-size: 36px;
}
.spinner {
    margin-left: 45%;
}