.selectAllPanel {
    width: 100%;
    float: left;
    margin-bottom: 6px;
    padding-left: 17px;
}

.selectAllLabel {
    float: right;
    margin: 0 10px 14px 0;
    padding-top: 8px;
}

.styledCheckbox {
    margin-top: 0;
}

.label-checkbox {
    margin-top: 5px;
    padding-top: 8px;
}

.noCoverageError {
    text-align: center;
}

.coverageType {
    padding-top: 5px
}