@import "utils/variables";

span {
    display:block;
    text-align:right;
    width:100%;
}

.breach-red {
    font-weight: bold;
    color: #ff0000;
}

.positive-green {
    color: #00b050;
}

.warning-orange {
    color: #d6a300;
}

