@import "utils/variables";

.bind-quote-modal-content {
    min-height: 65vh;
}

.bind-quote-modal-footer {
    border-top: 2px solid #ececec;
}

.secondary-menu li {
    width: 33.33333333%;
}

.secondary-menu li a {
    width: 100%;
}
