<div
    class="tw-flex tw-gap-4 tw-min-w-[380px] tw-h-[48px] tw-items-center tw-rounded-[8px] tw-border-solid tw-border-l-8 tw-border-r-0
                tw-border-y-0 tw-border-cfc-information-blue-shadow  tw-pr-[16px] tw-pl-[24px] tw-py-[16px] tw-bg-cfc-information-blue tw-shadow-md">
    <!-- icons -->

    <div class="tw-rounded-full tw-flex tw-items-center tw-mr-4">
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M10 0C4.48 0 0 4.48 0 10C0 15.52 4.48 20 10 20C15.52 20 20 15.52 20 10C20 4.48 15.52 0 10 0ZM11 15H9V9H11V15ZM11 7H9V5H11V7Z"
                fill="#149BD7" />
        </svg>
    </div>
    <!-- message -->
    <div class="tw-text-cfc-navy-blue tw-font-bold">
        {{ message }}
    </div>
</div>