@import "../utils/variables";

.mat-dialog-container {
    .mat-dialog-title {
        display: flex;

        h1 {
            color: $cfc-bright-blue;
            flex-grow: 1;
            padding: 0;
        }

        .close {
            font-size: 40px;
            font-weight: 400;
            margin-top: -8px;
            margin-bottom: -16px;
        }
    }

    .mat-dialog-actions {
        padding-bottom: unset;
        min-height: unset;
        margin-bottom: unset;

        button {
            margin-right: 10px;

            &:last-child {
                margin-right: inherit;
            }
        }
    }
}