.col-md-9 {
    min-height: 40px;
}

.input-padding-fix {
    padding-top: 9px;
    padding-bottom: 9px;
}

mat-icon {
    padding-top: 6px;
    width: 24px !important;
}

.clauseText {
    margin-bottom: -5px;
    resize: vertical;
}
