.search-icon {
    position: absolute;
    right: 0;
}

.search-icon.mat-icon, .search-icon.mat-icon {
    vertical-align: baseline;
    font-weight: 700;
    color: #ececec;
}

.mat-chip.mat-primary {
    margin-top: 3px;
    margin-left: 6px;
    margin-right: 6px;
    padding: 5px 12px;
}