@import "utils/variables";

:host {
    .mat-spinner {
        float: left;
        width: 2px;
        height: 2px;
        margin: 0px 5px 0px 0px;
        color: #ffffff;
        stroke: #ffffff;
    }

    ::ng-deep h1 {
        color: $cfc-bright-blue;
        flex-grow: 1;
        padding-top: 0;
    }

    .close {
        font-size: 40px;
        font-weight: 400;
        margin-top: -8px;
        margin-bottom: -16px;
    }
}